
.heading{
    text-align: center;
    color: rgb(8, 0, 0);
    margin-top: 100px;
}

.form{
    height: 50px;
    width: 600px;
    text-align: center;
    border-color: rgb(12, 12, 14);
    border-width: 3px;
    margin-left: 400px;
    border-radius: 25px ;
    
}
.btn{
    margin-top: 15px;
    margin-left:  660px; 
    height: 40px;
    width: 80px;
    border-color: rgb(12, 12, 12);
    border-width: 3px;
    border-radius: 25px ;
}
.error{
    color: red;
    size:80%;
    display: flex;
    align-items: center;
    justify-content: center;

}
.hidden{
    display: none;
}
